@mixin nav-bar{
	nav ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
}

@mixin container-grid{
	max-width: $default-width; 
	margin: $center-margin;
	background: rgb(175, 222, 176);
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns:
   	1fr       2fr       1fr;
   	grid-template-areas:
    "heady     heady     heady"
    "navvy     navvy     navvy"
    "aside1    mainy     aside2"
    "aside1    mainy     aside2"
    "aside1    mainy     aside2"
    "footy     footy     footy";
}